/* ================================
   BARRA DE PESQUISA
================================ */


#buscaApp{

    width:100%;

    padding:15px 18px;

    margin:20px 0;

    border-radius:12px;

    border:1px solid #333;

    background:#1c1c1c;

    color:white;

    font-size:16px;

    outline:none;

    transition:0.3s;

}



#buscaApp::placeholder{

    color:#999;

}



#buscaApp:focus{

    border-color:#0078ff;

    box-shadow:0 0 15px rgba(0,120,255,0.5);

}




/* ================================
   LISTA DE PROGRAMAS
================================ */


.item{

    background:#1a1a1a;

    padding:15px;

    border-radius:12px;

    margin-bottom:10px;

    display:flex;

    align-items:center;

    gap:12px;

    transition:0.3s;

}



.item:hover{

    background:#242424;

    transform:scale(1.02);

}



.item input{

    width:20px;

    height:20px;

    cursor:pointer;

}



.item label{

    cursor:pointer;

    text-align:left;

}



.item small{

    color:#999;

}
